
<div class="jumbotron mt-4">
    <h1 class="display-4"> Notas app en mongo db</h1>
    <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cum saepe soluta nisi quas recusandae iusto dolor nihil placeat, iste, magnam consequatur consectetur ad? Ex expedita ducimus deserunt enim id quibusdam.</p>

    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat molestias deleniti nostrum, beatae amet qui architecto dolor doloribus autem quam ducimus dolorem? Maiores, quo eius nisi asperiores quam provident ratione!</p>

    <a href="http://www.faztweb.com" class="btn btn-primary">FaztWeb</a>
</div>